* {
    margin: 0;
    padding: 0;
}

.main {
    background-image: url("../images/bg.png");
    background-position: center;
    background-size: cover;
}

.header {
    padding: 50px 0 47px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    margin-right: 208px;
}

.menu {
    display: inline-block;
}

.menu-item {
    margin-right: 104px;
    display: inline-block;
}

.menu-item a {
    font-size: 16px;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-decoration: none;
}

.cafe {
    padding: 262px 0 150px 0;
}

.cafe-title {
    font-size: 60px;
    color: rgb(255, 255, 255, 0.922);
    line-height: 1.2;
    text-shadow: 0 1px 2px rgba(1, 1, 1, 0.64);
    max-width: 468px;
}

.cafe-actions {
    margin-top: 45px;
}

.button {
    width: 228px;
    padding: 20px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-align: center;
    border: 0;
    cursor: pointer;
}

.button.button-green-full {
    background-color: #2f863c;
    border: 1px solid #2f863c;
    margin-right: 30px;
}

.button.button-white-transparent {
    background-color: transparent;
    border: 1px solid white;
}

.right-food {
    background: url("../images/background_objects.png") #181717 center;
    padding: 158px 0 160px 0;
}

.right-food-container {
    width: 667px;
    background: white;
    padding: 37px 37px 23px 37px;
    margin: 0 auto;
}

.right-food-title {
    font-size: 36px;
    color: rgb(204, 153, 0);
    font-weight: bold;
    text-align: center;
    line-height: 1;
    margin-bottom: 43px;
}

.right-food-text {
    font-size: 16px;
    color: rgb(76, 76, 76);
    font-style: italic;
    line-height: 1.5;
    text-align: center;
    max-width: 434px;
    margin: 0 auto;
}

.right-food-image {
    margin-top: 47px;
    text-align: center;

}

.footer {
    background-color: #10110f;
    padding: 66px 0 75px 0;
}

.rights {
    font-size: 16px;
    color: rgb(188, 188, 188);
    line-height: 1.2;
    margin-left: 700px;
}